---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Collin Weaver" description="About Collin Weaver Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/beachTravel.jpg"
					alt="Collin Weaver traveling with his kids"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a full-stack developer who has completed a rigorous full-time coding bootcamp through Full-Stack Academy and Louisiana State University. Proficient in Javascript and React, I also have experience with HTML, CSS and PostgreSQL.
					</p>
					<p>
						Before my transition to tech, I owned Weaver's Cajun Renovations, where I served as a remodel construction contractor for six years. In addition to developing my technical skills, I have also gained valuable experience working with teams through this endeavor. Prior to that, I spent eight years managing a local restuarant, demonstrating my versatility in leadership and management. 
					</p>
					<p>
						I am a family man with a loving wife and three children.  In my free time, my family and I love to travel and explore new places. We enjoy seeking out new experiences and challenges together, and are always looking for our next adventure.
					</p>
					<p>
						With a well-rounded background that combines technical and practical experience, I am well-equipped to tackle new and exciting opportunities in the tech industry.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Louisiana State University partnered with Fullstack Academy</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>React, Javascript, HTML, CSS, NodeJS, PSQL and Express</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
